body {
	background-color: #981e32;
}

table{
    border: 1px solid black;
}

th {
	border: 1px solid black;
	text-align: left;
	padding: 15px;
}
td {
    border: 1px solid black;
	text-align: left;
	padding: 15px;
}
.jumbotron{
	background-color: #b2babe;
}

.navbar {
  background-color: #981e32;
}
.navbar .navbar-brand {
  color: #b2babe;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #d6dbdf;
}
.navbar .navbar-text {
  color: #b2babe;
}
.navbar .navbar-nav .nav-link {
  color: #b2babe;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #d6dbdf;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #d6dbdf;
  background-color: #e10c0c;
}
.navbar .navbar-toggle {
  border-color: #e10c0c;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #e10c0c;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #b2babe;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #b2babe;
}
.navbar .navbar-link {
  color: #b2babe;
}
.navbar .navbar-link:hover {
  color: #d6dbdf;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b2babe;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d6dbdf;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d6dbdf;
    background-color: #e10c0c;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b2babe;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d6dbdf;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d6dbdf;
    background-color: #e10c0c;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b2babe;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d6dbdf;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d6dbdf;
    background-color: #e10c0c;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b2babe;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d6dbdf;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d6dbdf;
    background-color: #e10c0c;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #b2babe;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #d6dbdf;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #d6dbdf;
  background-color: #e10c0c;
}